:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --black: #222;
  --offWhite: #fcfaf0;
  --primary: #d45545;
  --primaryDarker: #ae4133;
  --secondary: #000000;
  --radius: 8px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--black);
  font-size: clamp(12px, 2vw, 16px);
}
